
.container {
    display: flex;
    flex-direction: column;
}

.clearBtn {
    align-self: center;
}

.panel {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0;
    padding: 3rem 25rem;
    margin: 0 10rem;
}

.panel > div {
    grid-column-start: span 1;
    grid-row-start: span 1;
    border: 1px solid black;
    width: 100%;
    padding-bottom: 100%;
}

.panel > div:hover {
    background-color: red;
}

.hovereado {
    background-color: red;
}